.reveal .slides {
  background-image: url("images/otto_group_logo-250x50.png");
  background-repeat: no-repeat;
  background-position: right top;
}

.reveal section.title h1, .reveal section h2 {
  color: #e11f1f;
  text-transform: none;
}

.reveal section img { border: none; }
.reveal h1 { font-size: 2em; }
.reveal dt { font-size: 80%; }